.searchcard{
    margin-top: 25px;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 2px 2px darkgreen, -0.5em 0 .5em olive;
    border-radius: 15px;
}
.searchContainer{
    margin: 20px;
}

.searchAgain{
margin-top: 20px;
/* margin-left: auto; */
border-radius: 15px;

}

.searchbtns {
    margin-left: 20px;
    margin-right: 20px;
}

#searchContext {
    margin-top: 25px;
    font-family: 'NationalPark-Semibold';
}

#hidden-div {
    border-style: none;
    background-color: transparent;
}

.urlstyle{
    margin: 20px;
}