.searchB{
    background-color: #FFC107 !important;
    color: black !important;
    width: 100%;
    box-shadow: 5px 5px 5px gray;
    border-color: gray !important;
    font-weight: bold;
}

.hoverEffect:hover{
    text-decoration: none;
    background-color: #f6e8c0;
}

.hoverEffect option:hover {
    background-color: #f6e8c0;

}

.form-check-input:hover{
    background-color: #f6e8c0;;
}
.hoverEffect:active{
    background-color: #f6e8c0;

}
.hoverEffect:focus{
    background-color: #f6e8c0  !important;


}

.searchCardHeader {
    font-family: 'NationalPark-Semibold';
}


