.searchB{
    background-color: #FFC107 !important;
    color: black !important;
    width: 100%;
    box-shadow: 5px 5px 5px gray;
    border-color: gray !important;
}

.hoverEffect:hover{
    text-decoration: none;
    background-color: #FFC107;
}

.hoverEffect option:hover {
    background-color: #FFC107;

}

.form-check-input:hover{
    background-color: #FFC107;;
}





