.githubIcon {
    display: inline-block;
    /* margin-left: 14px; */
}
.githubIcon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
}
.githubIcon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}
.githubIcon a:hover::before {
    transform: scale(1);
}
.githubIcon a img {
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}
.githubIcon a:hover img {
    filter: brightness(0) 
    saturate(100%) 
    invert(0%) 
    sepia(7%) 
    saturate(98%) 
    hue-rotate(346deg) 
    brightness(95%) 
    contrast(86%);
}
.nav-item {
    background-color: #FFC106;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: .4s;
  }
  .nav-item:hover {
    background:transparent;
    border: 1px solid #FFC106;
    background-color: #fff;
    cursor: pointer;
  }