.githubIcon {
    display: inline-block;
    /* margin-left: 14px; */
}
.githubIcon a {
    width: 42px;
    height: 42px;
    background: black;
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    background: linear-gradient(to bottom,#FFC106 , #030303 );
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
}
.githubIcon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}
.githubIcon a:hover::before {
    transform: scale(1);
}
.githubIcon a img {
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}
.githubIcon a:hover img {
    filter: brightness(0) 
    saturate(100%) 
    invert(0%) 
    sepia(7%) 
    saturate(98%) 
    hue-rotate(346deg) 
    brightness(95%) 
    contrast(86%);
}
.nav-item {
    background-color: #FFC106 ;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 50px;
    transition: .4s;
    
  }
  .nav-item:hover {
    background:transparent;
    border: 1px solid #FFC106;
    background-color: #fff;
    cursor: pointer;
  }
  /* .nav-item:hover > :not(:hover) {
    opacity: .4;
  } */
  footer {
    background: linear-gradient(to bottom, rgb(90, 85, 85), rgb(56, 56, 53));
    opacity: .75;
    /* background: transparent; */
    padding-top:15px;
    
}
.copyRight{
    font-size: 12px;
}