.footerContainer{
    background-color: #212529;
    position: fixed;
    bottom: 0;
    width: 100%;
      /* Height of the footer */
}



.adjustfooterw{
 
   display: flex;

 
}
.f-item{
 text-align: end;
}