
img {
    max-width: 300px;
}

.rowDetails {
  border-style: none;
  background-color: transparent;

  }
  .detailrow{
    display: flex;

  } 
  .column1 {
    flex: 30%;
    margin-top: 40px !important;
    margin-left: 7px;
  }
  .column2 {
    margin-left: 10px;
    flex: 69%;
    margin-top: 25px !important;

  }
