img {
  max-width: 350px;
}

/* .rowDetails {
  border: 1px solid rgba(128, 128, 128, 0.66);
  background-color: white;
  border-radius: 20px;
  width: 950px !important;
  margin-top: -10px !important;
  margin-bottom: -10px !important;
  margin-left: -12.5px !important;
  margin: auto !important;
  padding: 20px !important;
} */

.detailrow {
  display: flex;

}

.column1 {
  flex: 50%;
  margin-top: 40px !important;
  
}


#map-parent{
  margin: auto;
  width: 100%;
  padding: 10px;
}

#weather{
  width: 100%;
  
}
.searchAgain{
  margin-bottom: 20px;
}