/* @import url('../../assets/fonts/NationalPark-SemiBold.woff'); */
 

.right {
  background-color: red;
}

.nav-custom {
  margin-left: 0;
  margin-right: 0;
  
  
}

/* .nav-font {
  font-family: 'NationalPark-Semibold';
} */