@font-face {
  font-family: 'NationalPark-SemiBold';
  src: local('NationalPark-Semibold'), url(../../assets/fonts/NationalPark-SemiBold.woff) format('woff');
}  
 

.right {
  background-color: red;
}

.nav-custom {
  margin-left: 0;
  margin-right: 0;
  
  
}

.nav-font {
  font-family: 'NationalPark-Semibold';
}