@font-face {
  font-family: 'NationalPark-SemiBold';
  src: local('NationalPark-Semibold'), url(../../assets/fonts/NationalPark-SemiBold.woff) format('woff');
}  

@font-face {
  font-family: 'NationalPark-Extrabold';
  src: local('NationalPark-Extrabold'), url(../../assets/fonts/NationalPark-ExtraBold.woff) format('woff');
}  
 

.right {
  background-color: red;
}

.navbar{
  background: linear-gradient(to top, #FFC106, rgb(231, 220, 179));
}
.nav-custom {
  margin-left: 0;
  margin-right: 0;
  
}

#nav-brand-font {
  font-family: 'NationalPark-Extrabold';
  
}

.nav-font {
  font-family: 'NationalPark-Semibold';
  box-shadow: 0px 8px 10px gray;

}

.picker{
  color: white;
}

